@model homework1.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Details</h1>

    <div class="mt-4">
        <h4>Result</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Student Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentName)
            </dd>
            <dt class="col-sm-2">
                Student Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentEmail)
            </dd>
            <dt class="col-sm-2">
                Subject Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubjectName)
            </dd>
            <dt class="col-sm-2">
                Subject Code
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubjectCode)
            </dd>
            <dt class="col-sm-2">
                Marks
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Marks)
            </dd>
            <dt class="col-sm-2">
                Grade
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grade)
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ResultId">Edit</a>
        <a class="btn btn-secondary ml-2" asp-action="Index">Back to List</a>
    </div>
</div>